.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
*.pdf
*cache*
*.png
*.docx
04_Quant_Plots_files/
05_Scenarios_files/
04_Quant_Plots.html
05_Scenarios.html
06_Suitability_School_Distribution.html
output/*.pdf
output/runs/*
data/WB*
data/WPP*
*DS_Store
.DS_Store
*test
ssa_grid2*
data/*mean*
04_Unused_totalnets_plots.do
doc/th_template_2022.pptx
data/.DS_Store
output/.DS_Store
QuantPPT.log
QuantPPT.tex
qppt_test*
QuantPPT.pptx
99_Old_Code.Rmd
scratch/*
