.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
*.pdf
*cache*
*.png
*.docx
04_Quant_Plots_files/
05_Scenarios_files/
04_Quant_Plots.html
05_Scenarios.html
06_Suitability_School_Distribution.html
output/*.pdf
output/runs/
data/WB*
*DS_Store
.DS_Store
*test
ssa_grid2*